<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="script/angular.js"></script>
    <title>Example of angular</title>
</head>
<body ng-app="myApp">
<div ng-controller="myCtrl">
    <label>Name:</label>
    <input type="text" ng-model="name" placeholder="Enter Name">
    <button ng-click="addName()">Add</button>
    <ol>
        <li ng-repeat="n in names">{{n}}</li>
    </ol>
</div>
<script>
    var app =angular.module('myApp',[]);
    app.controller('myCtrl',function($scope){
        $scope.names = ['Name1','Name2'];
        $scope.addName = function(){
           $scope.names.push($scope.name);
        };

    });
</script>

</body>
</html>