<h1>List Of Invoices for Customer : {{customerName}}</h1>
<div ng-repeat="n in CustNames">
    <table>
        <tr>
            <td> Invoice Number:</td>
            <td> {{n.invoiceId}}</td>
        </tr>
    </table>
    <hr/>
    <table class="table table-bordered" style="width: 50%">
        <thead>
        <tr>

            <th>Item Name</th>
            <th>Cost</th>
        </tr>
        </thead>
        <tbody><tr ng-repeat="n1 in n.invoiceItems">
            <td>{{n1.itemName}}</td>
            <td>{{n1.cost}}</td>

        </tr>
        <tr>
            <td>Total :</td>
            <td> {{ getTotal() }}</td>
        </tr>
        </tbody>
    </table>


</div>
